#app {
    height: 100vh;
    text-align: center;
}

.react-grid-placeholder { 
    background-color: rgba(0, 0, 0, 0.349) !important;
 }

 * {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
 }