@use '@carbon/react';
@use '@carbon/styles';
@use '@carbon/react/scss/zone';
@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/themes';


body {
    overflow: hidden;
}

main {
    margin: 0;
}

.cds--content {
    padding: 0;
    margin: 0 !important;
}


:root[data-carbon-theme='g10'] {
  @include theme.theme(themes.$g10);
}

:root[data-carbon-theme='g100'] {
  @include theme.theme(themes.$g100);
}

:root[data-carbon-theme='g90'] {
  @include theme.theme(themes.$g90);
}


